.logo{

    height: 250px;
    height: 50px;
    
  
    
}
.img_logo{
    margin-bottom: 100px;
}

.hero{

background: rgb(212, 219, 245);
align-self: center;
border-color: black;
margin-right: 50px;
text-align: center;
width: auto;
color:black;
border-radius: 10px 5px 10px 5px;
box-shadow: 6px 6px 6px black;



}


.menu{


    text-align: left;
    background: rgb(212, 219, 245);
    align-self: center;
    border-color: black;
    margin-right: 50px;
    width: auto;
    height: 100px;
    color:black;
    border-radius: 10px 5px 10px 5px;
    box-shadow: 6px 6px 6px black;

  

}


body{

background: yellowgreen;

}