.header{
    width: auto;
    height: 100px;
}

.logo{
  
    position: relative;
}

.hero{
background:rgba(155, 155, 155, 0.938);
align-self: center;
border-color: black;
margin-right: 50px;
text-align: center;
width: auto;
color:black;
border-radius: 10px 5px 10px 5px;
box-shadow: 6px 6px 6px black;
}
.menu{
    text-align: left;
    background: rgba(155, 155, 155, 0.938);
    align-self: center;
    border-color: black;
    margin-right: 50px;
    width: auto;
    height: 100px;
    color:black;
    border-radius: 10px 5px 10px 5px;
    box-shadow: 6px 6px 6px black;
}
body{

background: rgb(80, 77, 255);

}

body{

    font-family: 'Source Sans Pro', sans-serif;

}


h1, h2, h3, h4, h5, h6{

font-family: 'Fjalla One';

}

h1{
    font-size: 60px;
    line-height: 1.5em;
    letter-spacing: -.2px;
}